<div styles="text-align: center">
<p></p>
<p>NO PURE ESM, THANK YOU!</p>
</div>

# {{convertedPackageName}}

This is a {{originalPackageName}} which added Common JS support.

* For Document, please check out the [original package](https://www.npmjs.com/package/{{originalPackageName}});
* For issues related to the original package, please submit an issue to the original package's repository;
* For issues related to package conversion, submit an issue to [[@fuuck]](https://github.com/Losses/fuuck).